// ———————————————————————————————————————————————
// # main.scss
// ———————————————————————————————————————————————


// ———————————————————————————————————————————————
// # Scss Plugins
// ———————————————————————————————————————————————
// @import "./scss-plugins/animate";
@import "./scss-plugins/animate-on-scroll";
// @import "./scss-plugins/background-parallax-scroll-effect";
// @import "./scss-plugins/image-gallery/image-lightbox";
@import "./scss-plugins/swiper-slider";
// @import "./scss-plugins/perfect-scrollbar";
// @import "./scss-plugins/progressive-image";

// ———————————————————————————————————————————————
// # Scss Theme
// ———————————————————————————————————————————————
// @import "./scss-theme/theme-bootstrap-custom-variables"; // Use this before importing Bootstrap
// @import "./scss-theme/theme-bootstrap-components-custom";
// @import "./scss-theme/theme-bg-image";
// @import "./scss-theme/theme-buttons";
// @import "./scss-theme/theme-color-classes";
// @import "./scss-theme/theme-font-family";
// @import "./scss-theme/theme-typography";
// @import "./scss-theme/theme-mixins";

// ———————————————————————————————————————————————
// # Scss Essentials
// ———————————————————————————————————————————————
@import "./scss-essentials/scss-bootstrap/bootstrap";

// ———————————————————————————————————————————————
// # Scss Project
// ———————————————————————————————————————————————
@import "./scss-demo-project/multidots";

// ———————————————————————————————————————————————
// # Initialization & Generic Style
// ———————————————————————————————————————————————
*:focus, *:active {
	box-shadow: none;
	outline: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	// text-rendering: optimizeLegibility;
	overflow-x: hidden;
	overflow-y: scroll;
}

// Anchor or Link
a {
	cursor: pointer;
	outline: 0;
	text-decoration: none;
	transition: all .3s ease-in-out;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

// Form fields
textarea {
	outline: 0;
	max-width: 100%;
}

// ———————————————————————————————————————————————
// # Scroll To Top
// ———————————————————————————————————————————————
.scroll-top {
	height: 50px;
	width: 50px;
	display: inline-block;
	position: fixed;
	bottom: -54px;
	right: 13px;
	background: rgba(gray, 0.5);
	padding: 10px 14px;
	border-radius: 50%;
	cursor: pointer;
	border: 4px solid rgba(255, 255, 255, 0.5);
	transition: all .3s ease-in-out;

	i {
		font-size: 18px;
		color: #fff;
	}

	&:hover {
		box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
	}
}

// ———————————————————————————————————————————————
// # Placeholder
// ———————————————————————————————————————————————
// Chrome/Opera/Safari
.form-control::-webkit-input-placeholder {
	color: #c3c3c3;
}

// Firefox 19+
.form-control::-moz-placeholder {
	color: #c3c3c3;
}

// IE 10+
.form-control:-ms-input-placeholder {
	color: #c3c3c3;
}

// Firefox 18-
.form-control:-moz-placeholder {
	color: #c3c3c3;
}
